# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Publish/output
[Pp]ublish/
*.pubxml
*.azurePubxml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
